#reset-password-modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 1.25rem;
  width: 32.75rem;
  height: 15.875rem;
  background-color: white;
  border-radius: 25px;
  z-index: 50;
}

#reset-password-button {
  margin: 0 auto;
  display: block;
  font-size: 14px;
  color: theme("colors.text-gray");
  font-weight: bold;
}

.corner-element {
    position: absolute;
    top: 17px;
    right: 17px;
}

h1 {
    text-align: center;
    color: theme("colors.text-gray");
    font-size: 25px;
    font-weight: bold;
}