#details-card {
    position: relative;
    display: flex;
    width: 100%;
    min-height: 700px;
    background-color: white;
    border-radius: 15px;
    flex-direction: column;
}

#alert-message {
    position: absolute;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}

#email-address-input{
    p {
        padding-top: 5px;
        margin-left: 5px;
        font-size: 14px;
        color: red;
        margin-bottom: auto;
    }
}

#invalid-email-message{
    display: none;
    max-height: 14px;
}




