.scrollbar-hide::-webkit-scrollbar {
    display: none;
  }

  /* Position the arrows */
  #trip-shortcuts {
     display: flex;
     flex-direction: row;
     align-items: center;
     position: relative;
     justify-content: center;
     margin-top: 20px;

    #left-arrow,
    #right-arrow {
        position: absolute;
        top: 40%;
        transform: translateY(-59%);
        z-index: 50;
    }

    #left-arrow {
      left: 1px;
    }

    #right-arrow {
      right: 1px;
    }
  }


