.pagination {
    width: 100%;
}

.pagination .col-1 {
    text-align: left;
}

.pagination .col-2 {
    width: 1px;
}

.pagination .col-3 {
    text-align: right;
}

.pagination span {
    display: inline-block;
    white-space: nowrap;
}

#dates-number {
    font-size: 12px;
    font-weight: 500;
}

#month {
    font-size: 14px;
    font-weight: 700;
}

#days {
    font-size: 10px;
    font-weight: 500;
}