.underline-button{
    width: auto;
    padding: 0px 10px;
    height: 48px;
    border-bottom: 2px solid theme('colors.primary-orange');
    color: theme('colors.primary-orange');
}

.no-underline-button{
    width: auto;
    padding: 0px 10px;
    height: 48px;
}

.button{
    z-index: 2;
}