.underline-button{
    width: auto;
    padding: 0px 10px;
    height: 48px;
    border-bottom: 3px solid theme('colors.primary-orange');
    color: theme('colors.primary-orange');
    transition: ease-in-out;
    transition-duration: 100ms;
}

.no-underline-button{
    width: auto;
    padding: 0px 10px;
    height: 48px;
}

.no-underline-button:hover {
    width: auto;
    padding: 0px 10px;
    height: 48px;
    border-bottom: 3px solid theme('colors.primary-orange');
    color: theme('colors.primary-orange');
    transition: ease-in-out;
    transition-duration: 100ms;
}


.button{
    z-index: 2;
}
