
#my-trips-container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    row-gap: 40px;
    padding-left: 10px;
    padding-right: 10px;
}

@media(min-width: 768px) {
    #my-trips-container {
        display: grid;
        padding-left: 10px;
        padding-right: 10px;
        grid-template-columns: repeat(3, 1fr);
        justify-content: space-between;
        row-gap: 40px;
        column-gap: 20px;
    }
}

@media(min-width: 1024px) {
    #my-trips-container {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        justify-content: space-between;
        row-gap: 40px;
        column-gap: 20px;
    }
}