#account-page {
  display: flex;
  align-items: center;
  justify-content: center;
}

#profile-card {
  display: flex;
  position: relative;
  width: 350px;
  min-height: 700px;
  background-color: white;
  border-radius: 15px;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
}

#circle {
  border-radius: 50%;
  width: 150px;
  height: 150px;
  background-color: blanchedalmond;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
}

.highlight-button-side {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 350px;
  height: 30px;
  border-right: 3px solid theme("colors.primary-orange");
  color: theme("colors.primary-orange");
  transition: ease-in-out;
  transition-duration: 100ms;
  text-align: center;
}

.no-highlight-button-side {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 350px;
  height: 30px;
  text-align: center;
}

.no-highlight-button-side:hover {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 350px;
    height: 30px;
    border-right: 3px solid theme("colors.primary-orange");
    color: theme("colors.primary-orange");
    transition: ease-in-out;
    transition-duration: 100ms;
    text-align: center;
}

#account-svg {
  position: relative;
  margin-right: 10px;
  top: 0px;
  vertical-align: middle;
}

#log-out-button {
  border-color: theme("colors.danger-red");
  border-width: 1px;
  border-radius: 9999px;
  width: 150px;
  height: 40px;
  color: theme("colors.danger-red");
}